:root{
    --background: #5a54fd;
    --text-color: #fff; 
    --button: #FF5DEF;
    --font: font-family: inter;
}

body{
    background-color: var(--background);
}

body header h1{
    color: var(--text-color);
    margin: 130px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'inter';
}
 
body header p{
    color: var(--text-color);
    font-size: 35px;
    margin: 50px 500px;
    text-align: center;
    font-family: 'inter';
}

/* for high score link */
nav a{
    position: relative;
    left: 40px;
    bottom: 600px;
    font-size: 50px;
    color: var(--text-color);
    text-decoration: none;
    font-family: 'inter';
}

/* cd short for count down used class for styling*/
.cd {
    color: var(--text-color);
    font-size: 80px;
    position: relative;
    left: 47%;
    margin-top: 100px;
    font-family: 'inter';
    width: 150px;
}

/* start button positioning and styling */
.start-btn {
    width: 190px;
    height: 70px;
    margin-left: 55rem;
    font-size: 55px;
    text-align: center;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--button);
    font-family: 'inter';
}

.start-btn:hover,
.start-btn.active {
    background-color: #088FFE;
}

.quiz-main{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'inter';
}
 
.quiz-section{
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .7s ease-in-out;
    transition-delay: .25s;
}

.quiz-section .quiz-box{
    position: relative;
    width: 700px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px
}

.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(50deg, transparent, var(--button), transparent);
    border-radius: 5px;
}
.quiz-header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid var(--button);
}

.option-list .option{ 
    width: 96%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 30px;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
}
